* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #412567;
  padding: 16px 0;
  max-width: 1600px;
  margin: 0 auto;
}

nav h1 {
  font-size: 32px;
  font-weight: 600;
  margin-left: 200px;
  color: white;
}

.wave {
  background: linear-gradient( #9100F8, #FB09B4, #F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn {
  margin-right: 200px;
  padding: 12px 18px;
  background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

nav img{
  display: none !important;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
}

@media (max-width: 576px) {

  nav {
    padding: 16px;
  }

  nav h1 {
    margin-left: 20px;
  }

  nav ul {
    display: none;
  }

  .btn {
    display: none;
  }

  nav img {
    display: block !important;
    margin-right: 20px;
  }
}